<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .inline {
            display: inline-block;
            margin-right: 10px; /* Adjust the margin as needed */
        }
    </style>
</head>
<body>

<h1>My Home</h1>

<span class="inline">退貨單編號:</span><p class="inline" th:text="${rtn.RtnNo}"></p>

<!-- <p th:text="${myStudent.name}"></p> -->

<a href="/hello">Go to hello page</a></br>

<img th:src="@{/images/dog.png}"/>

<form method='post' action='/login'>
    帳號：<input type='text' name='userName'><br/>
    密碼：<input type='text' name='userPassword'>
    <input type='submit' value='登入'>
</form>

</body>
</html>
