<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>租你好運</title>
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<link rel="stylesheet" href="css/loginstyle.css">
<link rel="stylesheet" href="css/styles2.css">
</head>
<style>
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #dddddd;
}

th, td {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

main {
	position: relative;
	top: 15%;
}

#Rtntitle {
	display: flex;
	margin-top: 10px;
	font-size: 2em;
}

.modify-btn-c, .modify-btn {
	/* 	border: 1px solid #000; */
	border-radius: 5px;
	margin: 0 5px;
	width: 50px;
}

.modify-btn:hover, .modify-btn-c:hover {
	color: white;
}

.modify-btn:hover {
	background: yellowGreen;
}

.modify-btn-c:hover {
	background: #e76969;
}

.input-text-FK, .input-text {
	width: 100px;
	text-align: center;
}

.input-text:focus {
	color: red;
}

.input-text-FK {
	pointer-events: none;
	user-select: none;
	color: gray;
}
</style>

<body>

	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		id="mainNav">
		<div class="container px-4">
			<a class="navbar-brand" href="/">你好</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link super-money"
						id="super-1" href="#">租賃服務</a></li>
					<li class="nav-item"><a class="nav-link super-money"
						id="super-2" href="#">購物商城</a></li>
					<!-- <li class="nav-item"><a class="nav-link super-money" href="#">|</a></li> -->

				</ul>
			</div>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto">
					<!-- <li class="nav-item"><a class="nav-link" href="">|</a></li> -->
					<li class="nav-item"><a class="nav-link" href="#about"
						id="join-member-btn2">會員中心</a></li>
					<li class="nav-item"><a class="nav-link" href="#announcement">公告</a></li>
					<li class="nav-item"><a class="nav-link" href="#callUs"
						id="callUs-a">關於我們</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="">|</a></li> -->
				</ul>
			</div>
		</div>
	</nav>

	<main>
		<div id="Rtntitle">
			<h1>退貨單修改</h1>
			<img src="/image/head/dog.png" th:src="@{/images/dog.png}" />
			<p>退貨單總數共有:</p>
			<p th:text="${rtnCount}"></p>
			<p>張</p>
		</div>
		<table>
			<thead>
				<tr>
					<th>退貨單編號</th>
					<th>員工編號</th>
					<!-- 					<th>訂單編號</th> -->
					<th>退貨日期</th>
					<th>退貨原因</th>
					<th>退款金額</th>
					<th>退貨狀態</th>
					<th>功能</th>
					<!-- Add more headers as needed -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="rtn : ${rtnPuting}">
					<td><input id="" class="input-text-FK"
						th:value="${rtn.empNo.empNo}"></td>
					<td><input id="rtnNoInput" class="input-text-FK"
						th:value="${rtn.rtnNo}"></td>

					<td><input id="rtnDateInput" class="input-text"
						th:value="${rtn.rtnDate}"></td>
					<td><input id="rtnWhyInput" class="input-text"
						th:value="${rtn.rtnWhy}"></td>
					<td><input id="refundAmountInput" class="input-text"
						th:value="${rtn.refundAmount}"></td>
					<td><input id="rtnStatusInput" class="input-text"
						th:value="${rtn.rtnStatus}"></td>

					<td>
						<!-- 						<button class="modify-btn" th:attr="data-rtnNo=${rtn.rtnNo}" -->
						<!-- 							onclick="redirectToModifyPageAndReturn(this.getAttribute('data-rtnNo'))">存檔</button> -->
						<button class="modify-btn" th:attr="data-rtnNo=${rtn.rtnNo}"
							onclick="updateRtnOnServer(this.getAttribute('data-rtnNo'))">存檔</button>
						<button onclick="cancelAndRollBack()" data-rtnNo="${rtn.rtnNo}"
							class="modify-btn-c">取消</button>
					</td>
				</tr>
			</tbody>
			</main>
			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

			<script>
			 $.datetimepicker.setLocale('zh');
		        $('#rtnDateInput').datetimepicker({
		 	       theme: '',              //theme: 'dark',
			       timepicker:false,       //timepicker:true,
			       step: 1,                //step: 60 (這是timepicker的預設間隔60分鐘)
			       format:'Y-m-d',         //format:'Y-m-d H:i:s',
				   value: '<%=hiredate%>', // value:   new Date(),
		           //disabledDates:        ['2017/06/08','2017/06/09','2017/06/10'], // 去除特定不含
		           //startDate:	            '2017/07/10',  // 起始日
		           //minDate:               '-1970-01-01', // 去除今日(不含)之前
		           //maxDate:               '+1970-01-01'  // 去除今日(不含)之後
		        });
			
			
				function redirectToModifyPage(rtnNo) {
					console.log(rtnNo);
					// Assuming modify.html is in the same directory as the current page.
					// If it's in a different directory, adjust the path accordingly.
					// 			window.location.href = 'modify.html?rtnNo=' + rtnNo;
					window.location.href = 'Rtnmodify?rtnNo=' + rtnNo;
				}

				function cancelAndRollBack() {
					window.location.href = '/Rtn';
				}
				
				function updateRtnOnServer() {

				    const rtnNo = document.querySelector('#rtnNoInput').value;
				    const rtnDate = document.querySelector('#rtnDateInput').value;
				    const rtnWhy = document.querySelector('#rtnWhyInput').value;
				    const refundAmount = document.querySelector('#refundAmountInput').value;
				    const rtnStatus = document.querySelector('#rtnStatusInput').value;


				    const rtnRequestData = {

				        rtnNo: rtnNo,
				        rtnDate: rtnDate,
				        rtnWhy: rtnWhy,
				        refundAmount: refundAmount,
				        rtnStatus: rtnStatus

				    };


				    fetch('/Rtnmodify/' + rtnNo, {
				        method: 'PUT',
				        headers: {
				            'Content-Type': 'application/json',
				        },
				        body: JSON.stringify(rtnRequestData),
				    })
				    .then(response => {
				        if (!response.ok) {
				            throw new Error('網路異常：' + response.status + ' ' + response.statusText);
				        }
				        return response.json();
				    })
				    .then(updatedRtn => {
				        console.log('成功更新Rtn：', updatedRtn);
				        alert("成功更新Rtn");
				        window.location.href = '/Rtn';

				    })
				    .catch(error => {
				        console.error('更新Rtn有問題：', error.message);
				        alert("更新Rtn有問題，輸入異常");
				    });
				}
			</script>
</body>

</html>
